{{define "frontend"}}
<!DOCTYPE html>
<html lang="en">

{{template "head"}}

<body onload="init()">

    <div class="container">
        <h3>American Dream League</h3>
        {{template "navigation"}}
        <div class="row">
            <div class="six columns">
                <center><button class="button-primary">Simulate Game</button></center>
            </div>
            <div class="six columns">
                <center><button class="button-primary">Simulate Week</button></center>
            </div>
        </div>
        {{template "leagues-page"}} {{template "profile-page"}}
    </div>

</body>

</html>
{{end}}
